<div class="section">
    <h1>Meals!</h1>




</div>

@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "http://localhost:24171/api/meal"
            }).done(function (result) {
                for (var i = 0; i < result.length; i++) {
                    console.log(result[i]);
                }
            })
        });
    </script>
}