<div class="section">
    <h1>Meals!</h1>
</div>

@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "http://mealroulette.local/api/unitofmeasurement"
            }).done(function (result) {
                console.log(result)
            })
        });
    </script>
}