
<div class="section">
    <div class="row">
        <div class="col s12">
            <ul class="tabs" id="navigationTabs">
                <li class="tab col s4"><a class="active" href="#MealDescription">{{lblMealDetailsTabsDescription}}</a></li>
                <li class="tab col s4"><a href="#MealIngredients">{{lblMealDetailsTabsIngredients}}</a></li>
                <li class="tab col s4"><a href="#MealRecipe">{{lblMealDetailsTabsRecipe}}</a></li>
            </ul>
        </div>
        <div id="MealDescription">
            <section>
                <div class="row">
                    <div class="col l6 m12 z-depth-1">
                        <img id="mealImage" class="responsive-img" src="~/Content/images/burger.jpg" />
                    </div>

                    <div class="col l6 m12">
                        <h5 id="mealName"></h5>
                        <p><b>{{lblMealDetailsDescription}}:</b></p>
                        <p id="mealDescription"></p>
                        <p><b>{{lblMealDetailsCountryOfOrigin}}:</b> <span id="mealCountryOfOrigin"></span></p>
                        <p><b>{{lblMealDetailsHardwareCategory}}:</b> <span id="mealHardwareCategory"></span></p>
                        <p><b>{{lblMealDetailsMealCategory}}:</b> <span id="mealCategory"></span></p>
                        <p>
                            <b>
                                <input id="checkboxMealIsFastFood" type="checkbox" disabled="disabled" />
                                <span>{{lblMealDetailsIsFastFood}}</span>
                            </b>
                        </p>
                        <p>
                            <b>
                                <input id="checkboxMealIsVegetarionFriendly" type="checkbox" disabled="disabled" />
                                <span>{{lblMealDetailsIsVegetarianFriendly}}</span>
                            </b>
                        </p>
                    </div>
                </div>
            </section>
        </div>

        <div id="MealIngredients">
            <div class="col s6">
                <h5>{{lblMealDetailsIngredients}}</h5>
                <p>{{lblMealDetailsPerson}}</p>
                <ul class="collection" id="mealIngredientsContainer"></ul>
            </div>
            <div class="col s6">
                <h5>{{lblMealDetailsHeaderSeveralPeople}}</h5>
                <p>10 {{lblMealDetailsPeople}}</p>
                <ul class="collection" id="mealIngredientsContainerForMultiplePeople"></ul>
            </div>
        </div>

        <div id="MealRecipe">
            <div class="col s12">
                <h5>{{lblMealDetailsRecipe}}</h5>
                <div id="mealRecipeContainer">

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/js/Meal/details.js"></script>
}