<div class="section">
    <div class="row">
        <div class="input-field col s2 offset-s10">
            <input id="inputPageSize" type="number" min="1" class="validate">
            <label for="inputPageSize">Page Size</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collection" id="MealsCollection"></ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div id="pagination">

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/js/Meal/index.js"></script>
}