<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" href="~/Content/css/materialize.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/css/Site.css" rel="stylesheet" />

</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>