<footer class="page-footer light-blue">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Tranquiliza Meal Roulette
            <a class="grey-text text-lighten-4 right waves-effect waves-light" href="#!">Contact</a>
        </div>
    </div>
</footer>