<nav class="light-blue" role="navigation">
    <div class="nav-wrapper container">
        @Html.ActionLink("Meal Roulette", "Index", "Home", new { area = "" }, new { @class = "brand-logo right waves-effect waves-light" })
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "waves-effect waves-light" })</li>
            <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, new { @class = "waves-effect waves-light" })</li>
        </ul>
    </div>
</nav>