
<div class="section">

    <div class="row" id="rollButtonContainer">
        <div class="col s12 center-align">
            <button id="btnRoll" class="btn hoverable waves-effect pulse blue btn-large wideButton">Roll</button>
        </div>
    </div>

    <div id="mealRouletteResultContainer">

    </div>
    <div class="col s12 center-align" id="rerollButtonContainer">
        <button id="btnReroll" class="btn hoverable waves-effect red btn-large wideButton">Roll</button>
    </div>
</div>

@section scripts{
    <script src="~/Content/js/MealRoulette/MealRoulette.js"></script>
}