@using System.Web.Http
@using MealRoulette.WebApi.Areas.HelpPage.Models
@model HelpPageApiModel

@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />

<div class="section">
    @Html.ActionLink("Go back", "Index", null, new { @class = "btn red waves-effect" })

    @Html.DisplayForModel()
</div>
