@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using MealRoulette.WebApi.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Meal Roulette Web API";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />

<h3>@ViewBag.Title</h3>

<div class="section">
    <h3>Introduction</h3>
    <p>
        Meal Roulette is a concept of rolling a random mealplan for yourself and your family!
    </p>
</div>

@foreach (var group in apiGroups)
{
    <div class="card">
        <div class="card-panel">
            @Html.DisplayFor(m => group, "ApiGroup")
        </div>
    </div>
}