@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using MealRoulette.WebApi.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Meal Roulette Web API";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />

<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <div class="section">
        <h2>Introduction</h2>
        <p>
            Meal Roulette is a concept of rolling a random mealplan for yourself and your family!
        </p>
    </div>

    <ul class="collapsible">
        @foreach (var group in apiGroups)
        {
            <li>
                @Html.DisplayFor(m => group, "ApiGroup")
            </li>
        }
    </ul>
</div>