@using System.Web.Http
@using MealRoulette.WebApi.Areas.HelpPage.ModelDescriptions
@model ModelDescription

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />

<div class="section">
    @Html.ActionLink("Go back", "Index", null, new { @class = "btn red waves-effect" })

    <h5>@Model.Name</h5>
    <p>@Model.Documentation</p>
    
    @Html.DisplayFor(m => Model)
</div>
